<input type="search" ng-model="vm.query" ng-keyup="vm.search()" id="search-string" /><br>

<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th>Valitud</th>
        <th>Kustuta</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.contacts | filter : vm.query" ng-class="{selected: item.selected}">
         <td>  <a href="#/edit/{{item._id}}" class="edit-link"> {{ item.name}}</a></td><td>  {{ item.phone}}</td>
    <td> <input type = "checkbox" ng-model="item.selected"></td>
    <td><a href ng-click="vm.removeItem(item._id)" class="delete-link">Kustuta</a></td>
</tr>
    </tbody>
</table>