<table>
<tr>
<td>Nimi:</td> <td><input [(ngModel)]="newItemTitle"/></tr>

<tr>
<td>Telefon:</td> <td><input [(ngModel)]="newItemNumber"/></td></tr>

<br>
<button (click)="addNewName()">Salvesta</button>
</table>