<table class="list-table">


    <thead>
    <input [(ngModel)]="searchText" placeholder="Otsi">
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th>Valitud</th>
        <th>Kustuta</th>
    </tr>
    </thead>

    <tbody>



<tr *ngFor="let name of names | filter : searchText">
   <td> <a class="nav-link" href="/edit/{{name._id}}" [class]="name.done ? 'done' : '' ">{{name.title}}</a></td>
    <td><span [class]="name.done ? 'done' : ''">{{name.number}}</span></td>
    <td> <input type="checkbox" [(ngModel)]="name.done"/></td>
    <td><button (click)="deleteName(name)">X</button></td>
</tr>
<button (click)="DeleteMultiple()">Kustuta märgistatud</button>
    </tbody>
</table>